.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    margin: 10% auto;
    border: 1px solid violet;
    border-radius: 5px;
    box-shadow: 5px 5px 50px #4c3f8e;
    width: 50%;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}




.video-templo{
    position:absolute;
    width: 100%;
    height: auto;
}


